.active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 1px 1px 1px 1px rgba(217, 83, 21, 0.868);
    /* Lowering the shadow */
    border-radius: 25px;
    /* padding-left: 3% !important;     */
}
.show{
    display: block;
}
.hideDesktop{
    display: none;
}
.showDesktop{
    display:block;
}
.be-light {
    background: transparent !important;
  }
@media screen and (max-width: 992px) {
    .active {
        width: 40%;
        padding-left: 3% !important;
    }
    .hide{
        display: none !important;
    }
    .showMobile{
        display: block;
    }
    .truckNames{
        margin-left:5%;
    }
}