
p { 
    color: rgb(15, 15, 15); 
    text-decoration: none;
}


.arrow {
    text-align: center;
    /* margin-bottom:-20%; */
    /* margin: 8% 0; */
    /* position: absolute; */
    /* bottome:0; */
    font-size: 50px; 
    padding-bottom: 50%;

  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    10%, 10%, 50%, 60%, 90% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-20px);
    }
  }