.body{
  background-color: yellow !important;
}
.navSquare {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  height: auto;
  text-decoration: none;
  /* height:50%; */
  width: 100%;

  background-color: black;
}

.squareText {
  text-decoration: none;
  margin: auto;
  font-size: x-large;
  font-weight: bolder;
}

.circle {
  background-color: rgb(233, 190, 0) !important;
  background-image: url(./foodTruckWIndow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* width:100vw; */
}

h1 {
  font-size: 60px !important;
  font-weight: lighter !important;
}

.homeNav {
  width: 55%;
  position: absolute;
  right: 10%;
}

.homeNavMobile {
  display: none;
}

.loginSignUp {
  padding-top: 25%;
  padding-right: 10%;
  padding-left: 50%;
  text-align: right;

}

.logInbuttons {
  /* margin-right: 10%; */
  width: 40%
}


.createAccountButton {
  margin-left: 10%
}

.buttonContainer {
  margin-top: 10% !important;
  margin-left: 18% !important;
}

/* mobileMargin */

@media screen and (max-width: 992px) {
  /* .body{
    background-color:;
  } */
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .homeNav {
    display: none;
    /* right: 20px; */
  }

  .homeNavMobile {
    display: block;
  }

  .circle {
    background-image: url(./foodTruckWIndow.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    /* height: 100vh; */
    /* position: absolute; */
    /* bottom: 0px; */
  }
  .buttonContainer {
    margin-top: 1% !important;
    margin-left: 18% !important;
  }
  .loginSignUp{
    padding-top: 50%;
    padding-right:15%;
    padding-left: 25%;
    text-align: right;
    position: absolute; 
    bottom: 0px;
  }
  /* .homeMessage{} */
}