.navSquare {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  height: auto;
  text-decoration: none;
  /* height:50%; */
  width: 100%;
  background-color: black;
}
 
#guest{
  cursor: pointer;
}

.squareText {
  text-decoration: none;
  margin: auto;
  font-size: x-large;
  font-weight: bolder;
}

.circle {
  background-color: #ecbe3f !important;
  background-image: url(./foodTruckWIndow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* width:100vw; */
}

h1 {
  font-size: 60px !important;
  font-weight: lighter !important;
}

.homeNav {
  width: 55%;
  position: absolute;
  right: 10%;
}

.homeNavMobile {
  display: none;
}

.loginSignUp {
  padding-top: 15%;
  padding-right: 10%;
  padding-left: 50%;
  text-align: right;
}

.logInbuttons {
  /* margin-right: 10%; */
  width: 40%
}


.createAccountButton {
  margin-left: 10%
}

.buttonContainer {
  margin-top: 10% !important;
  margin-left: 18% !important;
}

.handleSignin{
  height:100vh;
}
.homeComponent{
  height:100vh;
  /* padding-bottom:15%; */
}
/* mobileMargin */

@media screen and (max-width: 992px) {
  /* .body{
    background-color:;
  } */
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .homeNav {
    display: none;
    /* right: 20px; */
  }

  .homeNavMobile {
    display: block;
    text-align: right;
    background-color:rgba(172, 127, 6, 0.2) !important;
    padding-top: 10%;
    padding-bottom:10%;
    border-radius: 10%;
    /* opacity:0.6; */
  }
  .circle {
    background-image: url(./foodTruckWIndow.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom;
    /* height: 100vh; */
    /* position: absolute; */
    /* bottom: 0px; */
  }
  .navSquare{
    opacity: 1;
  }
  .buttonContainer {
    margin-top: 1% !important;
    margin-left: 5% !important;
    padding-right:5% !important;
  }
  br {
    display: none;
  }
  .loginSignUp{
    padding-top: 0;
    /* padding-right:20%; */
    padding-left: 0;
    width:100%;
    text-align: right;
    position: absolute; 
    top: 10%;
  }
  h1 {
    width:100%;
    font-size: 50px !important;
    font-weight: lighter !important;
  }
  /* .homeMessage{} */
}