
.navSquare{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    height: auto;
    text-decoration: none;
    /* height:50%; */
    width: 100%;

    background-color: black;
}
.squareText{
    text-decoration: none;
    margin: auto;
    font-size: x-large;
    font-weight: bolder;
}

.checkweather{
    background-image: url('../../photos/great_weather.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.weathertrends{
    background-image: url('../../photos/line_graph.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    /* height: 100%; */
}
.circle {
background-image: url(./foodTruckWIndow.jpg);
background-size:cover;
background-repeat: no-repeat;
height: 100vh;
/* width:100vw; */
}
h1{
  font-size:60px !important;
  font-weight: lighter !important;
}
.homeNav{
  width: 55%;
  position:absolute;
  right: 10%;
}
.homeNavMobile{
  display: none;
}
.loginSignUp{
  padding-top:25%;
  padding-right: 10%;
  padding-left: 50%;
  text-align: right;
  
}
.logInbuttons{
  /* margin-right: 10%; */
  width: 40%
}
.loginButton{
  /* margin-left:1%; */
}
.createAccountButton{
  margin-left:10%
}
.buttonContainer{
  margin-top:10% !important;
  margin-left:18% !important;
}
/* mobileMargin */

@media screen and (max-width: 992px) {
    .hide{
      display: none;
    }
    .show{
      display: block;
    }
    .homeNav{
      display: none;
      /* right: 20px; */
    }
    .homeNavMobile{
      display: block;
    }
  }