.loginContainer{
    margin-top:10%;
    /* padding-top: 40%; */
    /* padding-left:10%; */
    margin-left: auto;
    margin-right: auto;
    width:60%;
    
}

.signUp-button{
    margin-left:10%;
}

.error{
    color:red;
    font-size: 10px;
}
@media screen and (max-width: 992px) {
    .loginContainer{
        /* margin-top:10%; */
        padding-top: 40%;
        padding-left:10%;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width:60%;
    }

}