.forcastBox{
    text-align: left;
    /* border-radius: 2px; */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    /* box-shadow: inset; */
    box-shadow: 2px 2px 1px rgb(102, 102, 102);
    width:100%;
    margin-left: 2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom: 2%;
    display: inline;
}