.categoryButtons{
    border-radius: 25px;
    font-size: smaller;
}
.resetButton{
    font-size:small;
    border-radius:25px;
}
.foodRecTrucks{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
    margin:2%;
    padding:2%;
    /* text-size-adjust: auto; */
    font-size:small
}

.recTruckActive {
    transform: scale(0.88);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 1px 2px 22px 1px rgba(0, 0, 0, 0.967);
    /* Lowering the shadow */
}


