:root {
    --main-color: rgb(104, 117, 217);
    --main-color-hover: rgb(104, 117, 217, 0.2);
    --track-color: #ddd;
    --mark-color: #aaaaaa;
  }


.forcastBox{
    text-align: left;
    /* border-radius: 2px; */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    /* box-shadow: inset; */
    box-shadow: 2px 2px 1px rgb(102, 102, 102);
    width:100%;
    margin-left: 2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom: 2%;
    display: inline;
}
.mapPin{
    height: 9px;
    width: 9px;
}

.customSlider {
    /* max width of your slider */
    max-width: 300px;
    /* Optional: Only If you want to center your slider in the page */
    margin: auto;
    margin-bottom:20%;
  }
  
  .customSlider-track {
    /* Top value to align your track to the center of your thumb */
    top: 8px;
    /* thickness of the track */
    height: 4px;
   /* default color of your track */
    background: var(--track-color);
  }
  
  .customSlider-track.customSlider-track-0 {
    /* color of the track before the thumb */
    background: var(--main-color);
  }
  .customSlider-thumb {
    cursor: pointer;
    /*color for the thumb */
    background: var(--main-color);
    /* shape of the thumb: circle */
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* remove default outline when selected */
    outline: none;
  }
  
  .customSlider-thumb:hover {
    box-shadow: 0 0 0 8px var(--main-color-hover);
  }
  .customSlider-mark {
    cursor: pointer;
    top: 6px;
    width: 1.5px;
    height: 8px;
    background-color: var(--mark-color);
  }