.missingImg {
    width:300px;
    height: 300px;
    color: white;
    background-color: gray;
}
.displayTruckDetails{
    /* overflow: hidden !important; */
    /* height: 100px !important; */
    overflow: auto;
}

.singleTruck{
    color:#000;
    border-style: solid;
    border-color: #936a01cc;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(233, 178, 37, 0.8);

}
.ratingDiv:hover{
    background-color: rgba(252, 251, 248, 0.8);
     cursor: pointer;
}
.singleTruck:hover{
     background-color: rgba(225, 204, 152, 0.8);
     cursor: pointer;
}
.singleTruckImg{
    width:100%;
    margin:2%;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .singleTruckImg{
        width: 90%;
        margin-top: 15%;
    }
}
/* ADA-compliant text color for dark mode */
@media (prefers-color-scheme: dark) {
    .singleTruck,
    .displayTruckDetails,
    .ratingDiv {
        color: #000; /* Black text for dark mode */
    }
  .singleTruck {
     background-color: #2C2C2C;
     border-color: #FFD700;
  }
  .displayTruckDetails {
     background-color: transparent;
  }
  .ratingDiv {
     background-color: #222;
  }
}