.missingImg {
    width:300px;
    height: 300px;
    color: white;
    background-color: gray;
}
.displayTruckDetails{
    /* overflow: hidden !important; */
    /* height: 100px !important; */
    overflow: auto;
}

.singleTruck{
    border-style: solid;
    border-color: #936a01cc;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(233, 178, 37, 0.8);

}

.singleTruck:hover{
     background-color: rgba(225, 204, 152, 0.8);
     cursor: pointer;
}
.singleTruckImg{
    width:100%;
    margin:2%;
    border-radius: 10px;
    margin-left:-1%;
}

@media screen and (max-width: 992px) {
    .singleTruckImg{
        width: 100%;
        margin-top: 15%;
    }
}